/* .btn,
.btn:focus {
  border: 0px;
} */
a {
  transition: 0.5s;
  color: #336699; }
  a:link {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

.card {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .card:hover {
    opacity: 0.5; }

.parent:hover {
  background: green; }

#logo {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
