* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #da0387;
  --primary-dark: #a80e71;
  --primary-x-dark: #5f0841;
  --light-gray: #faf5f9;
  --medium-gray: #d8b6ce;
  --dark-gray: #470f39;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background: var(--light-gray);
}

.contentContainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 5rem;
}

header {
  background: var(--primary);
  color: #fff;
}

.button {
  background: var(--primary);
  padding: 0.5em 2em;
  color: #fff;
  border: 0;
  border-radius: 0.5rem;
}

h1 {
  font-weight: 100;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

#main-header {
  margin-bottom: 3rem;
  background: var(--primary);
}

.addItemBar {
  box-shadow: 0 4px 6 0 rgba(0, 0, 0, 0.1);
}

.addBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  background: var(--primary-dark);
  border-color: var(--primary-x-dark);
}

.searchBar {
  box-shadow: 0 4px 6 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: var(--dark-gray);
}

#toDo {
  padding-top: 3rem;
}

#toDo h2 {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--primary-x-dark);
  letter-spacing: 0.1rem;
}

#items {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
}

#items li:nth-child(even) {
  background-color: (var(--light-gray));
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalHeader {
  background: #fff;
  padding: 2rem 2rem 1.25rem 2rem;
  color: #000;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modalHeader p {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}

.modalContent {
  background-color: var(--light-gray);
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  animation-name: modalopen;
  animation-duration: 0.4s;
  border-radius: 12px;
}

.modalBody {
  text-align: right;
  background: var(--light-gray);
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.deleteBtn {
  float: right;
  color: var(--medium-gray);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.closeBtn {
  color: var(--medium-gray);
  float: right;
  font-size: 2rem;
  color: var(--primary-dark);
  line-height: 1.5rem;
}

#confirmDelete:hover,
#confirmDelete:focus {
  background-color: var(--primary-dark);
  color: #fff;
  cursor: pointer;
}

#denyDelete {
  background: rgba(0, 0, 0, 0);
  color: var(--primary-dark);
}

#denyDelete:hover,
#denyDelete:focus {
  background-color: rgb(230, 230, 230);
  color: #000;
  cursor: pointer;
  padding: 0.5em 2em;
}

.closeBtn:hover,
.closeBtn:focus,
.deleteBtn:hover,
.deleteBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
